<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.system.mapper.BizPostsBrowseMapper">
    
    <resultMap type="BizPostsBrowse" id="BizPostsBrowseResult">
        <result property="id"    column="id"    />
        <result property="postsId"    column="posts_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBizPostsBrowseVo">
        select id, posts_id, user_id, create_by, create_time from biz_posts_browse
    </sql>

    <select id="selectBizPostsBrowseList" parameterType="BizPostsBrowse" resultMap="BizPostsBrowseResult">
        <include refid="selectBizPostsBrowseVo"/>
        <where>  
            <if test="postsId != null "> and posts_id = #{postsId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectBizPostsBrowseById" parameterType="Long" resultMap="BizPostsBrowseResult">
        <include refid="selectBizPostsBrowseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizPostsBrowse" parameterType="BizPostsBrowse" useGeneratedKeys="true" keyProperty="id">
        insert into biz_posts_browse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postsId != null">posts_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postsId != null">#{postsId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBizPostsBrowse" parameterType="BizPostsBrowse">
        update biz_posts_browse
        <trim prefix="SET" suffixOverrides=",">
            <if test="postsId != null">posts_id = #{postsId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizPostsBrowseById" parameterType="Long">
        delete from biz_posts_browse where id = #{id}
    </delete>

    <delete id="deleteBizPostsBrowseByIds" parameterType="String">
        delete from biz_posts_browse where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>